@import "tailwindcss";

@theme {
	--font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
	--font-display: "Charm", cursive;
	--font-subtitle: "Forum", serif;

	--color-cream: #f6f8f5;
	--color-mint: #e6ebe4;
	--color-ink: #23301c;
	--color-dark: #151b17;
	--color-green: #536942;
	--color-green-dark: #3d4e31;
	--color-gold: #927d2e;
	--color-gold-dark: #786423;
}

html {
	scroll-behavior: smooth;
}
